<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /brfe-webapp/

  # If the request is a real file or directory, serve it
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Otherwise serve index.html for SPA routing
  RewriteRule . index.html [L]
</IfModule>
